.resumeWrapper {
  /* text-align: center; */
  color:#545e6c;
  width: 100vw;
}


.contentWrapper { 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  max-width: 960px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
